@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: #051c25;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	width: 0.95rem;
}

::-webkit-scrollbar-track {
	border: 0.125rem solid #051c25;
	background-color: #051c25;
}
::-webkit-scrollbar-thumb {
	background: #142a33;
	border: 0.25rem solid #051c25;
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
	background: #4ade80;
}
